<?xml version="1.0"?>
<!--
/**
 * Copyright © Lotus. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <!-- Lotus CSP Whitelist Module Settings -->
            <lotus_csp_whitelist>
                <enabled>1</enabled>
                <exclude_rest_api>1</exclude_rest_api>
                <exclude_admin_token>1</exclude_admin_token>
                <block_third_party_domains>0</block_third_party_domains>
                <blocked_domains><![CDATA[*.paypal.com
*.cardinalcommerce.com
*.braintreegateway.com
*.affirm.com
*.bolt.com]]></blocked_domains>
            </lotus_csp_whitelist>
            <!-- Disable CSP Report-Only Mode (enforce policies) -->
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
            <!-- Disable unsafe-inline and unsafe-eval for Storefront -->
            <policies>
                <storefront>
                    <default>
                        <policy_id>default-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                        <eval>0</eval>
                    </default>
                    <scripts>
                        <policy_id>script-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </scripts>
                    <styles>
                        <policy_id>style-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </styles>
                    <base>
                        <policy_id>base-uri</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </base>
                    <children>
                        <policy_id>child-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </children>
                    <connections>
                        <policy_id>connect-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </connections>
                    <manifests>
                        <policy_id>manifest-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </manifests>
                    <media>
                        <policy_id>media-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </media>
                    <objects>
                        <policy_id>object-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </objects>
                    <images>
                        <policy_id>img-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </images>
                    <frames>
                        <policy_id>frame-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </frames>
                    <forms>
                        <policy_id>form-action</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </forms>
                    <fonts>
                        <policy_id>font-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </fonts>
                </storefront>
                <!-- Disable unsafe-inline and unsafe-eval for Admin -->
                <admin>
                    <default>
                        <inline>0</inline>
                        <eval>0</eval>
                    </default>
                    <scripts>
                        <policy_id>script-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </scripts>
                    <styles>
                        <policy_id>style-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </styles>
                    <base>
                        <policy_id>base-uri</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </base>
                    <children>
                        <policy_id>child-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </children>
                    <connections>
                        <policy_id>connect-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </connections>
                    <manifests>
                        <policy_id>manifest-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </manifests>
                    <media>
                        <policy_id>media-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </media>
                    <objects>
                        <policy_id>object-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </objects>
                    <images>
                        <policy_id>img-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </images>
                    <frames>
                        <policy_id>frame-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </frames>
                    <forms>
                        <policy_id>form-action</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </forms>
                    <fonts>
                        <policy_id>font-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                    </fonts>
                </admin>
            </policies>
        </csp>
    </default>
</config>

